[2017-03-21 14:09] andrewrynhard opened #7 "Add option to find device by serial"
It would be nice to be able to find a device by its' serial.

[2017-03-21 14:58] mdlayher commented on #7
Hello!  Since NetBox is going to have API 2.0 in the near future, my plan was to more or less "freeze" the existing code and then focus effort in that area when it arrives.

In the mean time, would it help if I exported `Client.newRequest` and `Client.do` so you could perform the query you need outside this package?

[2017-03-21 15:10] andrewrynhard commented on #7
@mdlayher That would be great. Do you know when 2.0 will be released?

[2017-03-21 16:00] mdlayher commented on #7
I can do that. I don't have any info, but I suggest you check out the [mailing list](https://groups.google.com/forum/#!forum/netbox-discuss) as they'll be the first ones to know.

[2017-03-21 16:41] mdlayher commented on #7
Just merged #8 so you should be able to construct the query you need by making some type that implements `netbox.Valuer` and making a request with it.  Hope this helps.

I'll keep this open in case it's relevant for API 2.0.

[2017-03-21 16:42] andrewrynhard commented on #7
Great, appreciate it!

[2017-04-19 09:13] chrigl opened #9 "API v2"
Is anyone working on the porting go-netbox to APIv2?
I would have time to start on it.

[2017-04-19 12:05] mdlayher commented on #9
If you'd like to get started, that would be awesome. Do you have any ideas for a proposed Go API? I am mobile but can share some later toda. I'd like to make sure some consensus is reached before code is written.

[2017-04-19 12:54] mdlayher commented on #9
My initial thought is to extend the existing "services" pattern API with an additional service for each API type, such as "aggregate", "IP address", "RIR", etc.

[code]

Then it would be called like:

[code]

What do you think?  This way, it's easy to partition up the method set for each type and provide CRUD functionality.

[2017-04-19 13:04] mdlayher commented on #9
Oh, and there's also the matter of dealing with pagination now.  I have some ideas in that area but nothing concrete yet.

[2017-04-19 15:13] chrigl commented on #9
Structuring looks good to me.

Pagination: I don't have a strong opinion on this. The gophercloud guys always return a Pager.
See:
* https://github.com/gophercloud/gophercloud/blob/master/pagination/pager.go
* https://github.com/gophercloud/gophercloud/blob/master/openstack/compute/v2/servers/requests.go#L62

It feels a little bit odd to use this, but on the other hand, it is easy for a user to st

[2017-04-26 20:48] mdlayher commented on #9
Apologies, I meant to reply sooner.  I've been playing around with an API similar to existing stdlib iterators, like `bufio.Scanner`.

[code]

This is one case where it would be pretty handy if Go had generic programming facilities. :)

I'm debating changing `page.Devices()` to something like `page.Extract(devices)` akin to JSON unmarshaling.  Any thoughts?

[2017-04-26 21:15] mdlayher commented on #9
On second thought, while this API is pretty nice, it's rather complicated under the hood because of all of the state that needs to be kept.

I think it might make sense to just do what go-github does and return an object indicating where previous/next results can be found: https://godoc.org/github.com/google/go-github/github#Response.

Then the user should be able to paginate pretty easily.  In th

[2017-04-26 21:46] mdlayher commented on #9
Here's my new idea.  It's much less complex to implement, at the cost of a slight burden to the caller.

[code]

[2017-04-27 08:54] chrigl commented on #9
I like your first idea, and thought about something like this, while I was using database/sql this week.

I need to play around with it quite a bit, since I have a rough idea how to implement this. Since I already ported ipaddress related structs to v2, I will come back with POC for this.

[2017-04-27 16:08] mdlayher commented on #9
Sounds good to me.  I like the API for the first idea but I ran into a couple of roadblocks:

- May need to either implement a pager type for each struct, or add methods to retrieve each type of struct. Or use ugly type assertion. No good.
- The internal state that was used to create the closure was really messy and hard to follow.

That's why I think I'm leaning toward option 2. Pagination just e

[2017-05-02 12:49] chrigl commented on #9
Here comes my approach: I created a branch develop-v2 in my repo. Like I mentioned, I already ported IPAddress (which might not work with tenants! not tested).

First of all, I added a new file ([page.go](https://github.com/chrigl/go-netbox/blob/develop-v2/page.go) and changed `Client.IPAM` to contain a field `IPAddresses *IPAddressesService`. To this I added the Functions `Get`, `List`, and `Extr

[2017-05-02 15:17] mdlayher commented on #9
Looks great to me!  If you'd like to start submitting pull requests, I'd be happy to have them.

[2017-05-02 20:35] chrigl commented on #9
One more thing, I am not sure about.

How do you like to have the changes. I very likely need to break some go-api, because of changes in the types. Should we keep v1 in the code and v2 parallel to it? If so, should we create sub-package e.g. `apiv2`, with completely own types etc?
Or should we do a hard cut. Port everything to v2 and throw away v1, and hope everyone has vendored the used version

[2017-05-02 20:41] mdlayher commented on #9
I think I like the last option.  While we're moving things around, I'd also like to make the package name actually line up with the directory name (just `netbox` and not `go-netbox`).

Perhaps we can do:
- `github.com/digitalocean/go-netbox/netboxv1`
- `github.com/digitalocean/go-netbox/netboxv2`

All legacy code gets moved to `netboxv1` and new code goes in `netboxv2`.

Or we just throw away all

[2017-05-03 08:39] chrigl commented on #9
I like `github.com/digitalocean/go-netbox/netbox`. As long as we are working on v2, we could keep v1 in its current form. So master will be still usable, until we decide to finally throw v1 away.

[2017-05-03 16:46] mdlayher commented on #9
Sounds good to me!  I'd like to review the code in smaller sections if possible though, just so it doesn't end up being a huge PR.

Any suggestions on how to do that?  I suppose I could create a small 2.0 branch here and have you send PRs to it.

[2017-05-03 17:49] chrigl commented on #9
Sounds good to me.

I will start with the paging and client, since these are the building block for almost everything else. Then I try to start with self contained blocks like ipam_vrf, ipam_roles, tenancy, dcim_site, etc, slowly moving up to the large composed types like ipam_ipaddresses. I think this results in small chunks to merge.

[2017-05-03 17:50] mdlayher commented on #9
Sounds good to me as well.  I just created branch `v2` here upstream.  If you'd like to rebase and start submitting PRs against that, that would be awesome.  I know that some of the v1 code will be copied as-is, but I figure it's best to just start fresh and move things over as needed.

[2017-05-03 17:57] mdlayher commented on #9
Oh, one more thing: don't worry about implementing every single API endpoint by yourself.  It's a drag and it'll take ages.

Implement what you need most, and we can try to lean on others (and myself) to add the missing pieces.

[2017-05-16 21:44] adamdecaf commented on #9
I'm looking at writing a terraform provider for netbox (we might use it at work) and would be willing to write endpoints if needed. Right now I'm still learning about netbox and figuring out what terraform would help with.

Initially we'll probably want to use the IPAM portions of netbox.

[2017-05-17 11:37] chrigl commented on #9
@adamdecaf Currently I am working on a PR for the first endpoints. If this is done, we could start to create more.

The endpoint I currently need most is ip-addresses, and with it devices and interfaces. So this might be the next ones I will work on.

[2017-06-06 10:15] d0m0reg00dthing commented on #9
I have sometime working on this project. May I join this project, I'm not a developer but I think I could learn how to code in go.

[2017-06-06 10:16] d0m0reg00dthing commented on #9
And if yes, Should I fork from digitalocean or chrigl repository to start working

[2017-06-06 14:32] mdlayher commented on #9
You'll want to fork this repository, but I recommend letting us land #13 first since there's a lot going on.

[2017-06-07 02:15] d0m0reg00dthing commented on #9
I think chrigl should create PR for his work done, many endpoint type depending on paging, vrf and tenancy that he is working on

[2017-06-07 07:30] chrigl commented on #9
There is #13 which includes a tiny code generator to make our lives easier. I will come back to this tomorrow and resolve the remaining comments. With this merged, we can start to create all the types and endpoints.

[2017-06-09 11:44] d0m0reg00dthing commented on #9
I was clone chrigl repository and do some thing related to Region. Get/List is ok now but when Create/Update Region, I unable to find where to insert Token to it. Any idea?

[2017-06-09 12:39] chrigl commented on #9
You need to pass a prepared `http.Client` to go-netbox. We should document this in the README.

Something like
[code]

[2017-06-12 13:59] #9 closed

[2017-06-14 21:12] davcamer opened #15 "add Devices and InventoryItems for v2 API"
I need this for a project I'm working on at the moment. I'll follow the code generation pattern introduced by @chrigl.

[2017-06-15 11:14] d0m0reg00dthing commented on #15
I'm working on DCIM/Devices but I stuck at how to represent 'is_console_server' in **ListDeviceTypeOptions** type. In return json, **is_console_server** is True/False but in filter, this can be empty also. Any idea how to represent this in **ListDeviceTypeOptions**

[2017-06-15 15:07] davcamer commented on #15
I think a `*bool` is appropriate here. If `nil` then don't include `is_console_server` as a parameter at all. If non-nil, then include it with the appropriate value.

[2017-06-16 10:59] d0m0reg00dthing commented on #15
I have pushed to my github the first version of my **Device** implementation. Could you have sometime to check it and give me some suggestion on how to optimize that code. If the code is good enough, I will create a pull request soon.

Another thing I need help is about `ParentDevice`, I don't know how to add a device with a parent device to see what exactly it is in Netbox response JSON.

[2017-06-16 14:48] davcamer commented on #15
`ParentDevice` is used when a "parent" device has "child" devices in device bays. There are a few steps to create one:

1. create a device type which is a parent
1. create a device type which is a child
1. create a device of the parent device type
1. add device bays to this device
1. create a device of the child device type (and assign to the same site as the parent)
1. on the parent's device deta

[2017-06-20 05:06] cucxabong opened #21 "Adding Constant Values"
I'm working on **Interface** service, everything still good but I think we should define some const value to represent things like: Interface formfactor, connection status, rack type. I think all value of DCIM goes here: https://github.com/digitalocean/netbox/blob/develop/netbox/dcim/models.py

[2017-10-01 11:41] gouthamve opened #24 "Add support for secrets"
I saw no support for secrets yet. Is it something planned/underway?

[2017-11-28 01:08] zlesnr opened #25 "IPAM management"
There doesn't currently look to be any related code for IPAM management.  Is this correct?  If so, is this actively being worked on?  If not, what did I miss?

[2017-11-28 01:48] mdlayher commented on #25
Yep, it hasn't been added to the 2.0 client yet. PRs welcome.

[2017-11-28 21:23] zlesnr commented on #25
Sure.  @mdlayher Can you explain what's going on with the NewPage options calls?  What are the options intended to do?

It looks like I can probably follow some of the existing code, but there are several URLs under the `/ipam/` controller that will need to be built out.

[2017-11-28 21:50] mdlayher commented on #25
Been a bit since I've looked into it, but perhaps @chrigl can shed some light?  Otherwise I can try to dive back in tomorrow.

[2017-11-29 09:28] chrigl commented on #25
All List funcs return are supposed to return a Page. This Page will issue the request in its Next func. The options passed into the List func, and down to NewPage hold the query data for the List-Request.

For example. List all Devices of Tenant 1
[code]

The Page does also take care about limit and offset query params for paging the api results.

[2017-11-30 21:25] zlesnr commented on #25
Thanks for the info.  Its not looking like I have a spare afternoon this week, so I'll try to come back to this.  I'm not currently using netbox but would like to, but to populate the database I'd like some kind of API support, so this would need fleshed out first, or come up with a hack to load the data so we can use netbox.

[2017-12-05 11:18] SchwarzM opened #26 "Generate from swagger.json"
Hi,

this might be a stupid question but why is this an extra implementation and not generated from
swagger.json via something like https://github.com/go-swagger/go-swagger?

Am I missing something obvious?

Kind regards
SchwarzM

[2017-12-05 14:19] mdlayher commented on #26
When I originally started building this, I didn't realize it was possible.  If you could come up with something that generates reasonably nice code (or can be easily wrapped in a good API), I'd be in favor of doing so.

[2017-12-05 17:48] SchwarzM commented on #26
I played with this some more: https://github.com/SchwarzM/go-netbox

The current swagger.json has all api calls but lacks proper definitions for responses
maybe we could present this to @jeremystretch if this was left out on purpose or if he would
be open for some swagger annotation tweaks to make go-netbox's life easier.

The generated client is not usable due to the models missing but is clearly

[2018-02-22 19:30] davcamer commented on #26
I need another chunk of NetBox API for my current project. Seeing this issue, I thought I'd dig deeper before adding more endpoints using the current code-generation approach.

NetBox is using django-rest-framework (drf) for the JSON api and django-rest-swagger (drs) for the API exploration API. drf bases it's schema support on coreapi, and drs glosses that in to the openapi/swagger standard forma

[2018-02-22 21:09] chrigl commented on #26
Would be great!

Tested go-swagger some time ago as well. I was able to generate a working tenant-list-client by adding definition and responses by hand in the generated swagger.json. In general this should work.

If someone is interrested:

Definition: https://gist.github.com/chrigl/3e35f98272637baf930d8d3c9b74d206#file-json-L23585
Response: https://gist.github.com/chrigl/3e35f98272637baf930d8d3c

[2018-02-22 23:00] davcamer commented on #26
The first alternative I tried currently has some trouble with Netbox's pattern of labeled values backed with integer or boolean values. I'm going to link the issue here to keep track of what I tried.

https://github.com/axnsan12/drf-yasg/issues/69

[2018-02-23 15:58] davcamer commented on #26
Looked at https://github.com/limdauto/drf_openapi but having trouble getting it to work. It expects versioning, and [URLPath versioning specifically](http://drf-openapi.readthedocs.io/en/latest/readme.html#constraints). Netbox uses Accept header versioning instead. Also the idea that all the serializers should subclass VersionedSerializer would lead to many code changes in the netbox codebase.

[2018-02-23 23:36] davcamer commented on #26
With some custom FieldInspectors to deal with the custom ChoiceFieldSerializaer I was able to generate a full client. Will test-drive it next week. How do we distribute a fully generated client? Check it in to this repo? Should I open a PR?

[2018-04-23 10:50] hensoko opened #30 "Cannot retrieve Childdevice"
Hey,

I just tested go-netbox and had a problem retrieving devices that act as child device. The definition of swagger.json says that parent_device has to be a string but the netbox api returns a json object like:

[code]

Regards

hensoko

[2018-04-24 06:48] SchwarzM opened #32 "Struggling to get this to run https"
Hi,

love the new generated client but I am struggling to get this to make an https call:
https://github.com/digitalocean/go-netbox/blob/master/netbox/client/ipam/ip_am_client.go#L56

Am I holding it wrong?

[2018-04-24 13:28] chrigl commented on #32
You must pass a https capable transport to the client.
E.g. (see `transport := httptransport.New(netboxHost, client.DefaultBasePath, []string{"https"})
`)
[code]

[2018-04-24 13:38] SchwarzM commented on #32
going to try this out thanks.

[2018-04-24 13:38] #32 closed

[2018-05-07 14:41] hensoko opened #33 "Several fields have number as type in swagger.json"
Hi,

I recently noticed that several properties in the swagger.json have the type number where I expected integer. This is especially the case for several ID properties like device_id in operation dcim_interfaces_list.

Is there a special reason for this?

I also noticed that several _id fields have string as type when being used as query param.

[2018-05-07 15:07] hensoko opened #35 "A virtual machine interface cannot be created"
Hi,

the current swagger.json does not allow creating an interface for a virtual machine because it expects a device_id instead of a virtual_machine_id.

[2018-08-23 17:01] limberger opened #38 "Error when geting available ip from prefix informing description."
HI,

In POSTMAN this work:
[code]

When i try to use this from go-netbox (i am new with golang):

[code]

The result is:

[code]
The problem is in JSON serialization? Is possible to do like de POSTMAN example (only serializing the Description)?

Thanks,
jp

[2018-08-28 09:02] SchwarzM commented on #26
since #28 we should close this. Amazing work @davcamer.

[2018-08-28 09:02] #26 closed

[2018-10-03 15:15] redsux commented on #33
Hi,

It also concern other types, i found an issue with the **Interface** struct.

`netbox/models/interface.go` field `IsConnected` is define as a **string** but we got a **bool** from the JSON.

So go-netbox failed to unmarshal it correctly : `cannot unmarshal bool into Go struct field Interface.is_connected of type string`.

[2018-12-12 16:08] fcgravalos opened #40 "The client is not compliant with netbox latest API"
Just trying to create a simple VLAN throws json unmarshalling issues:

[code]

Just curl against the API is pretty clear that the `status` field should be either struct or `map[string]inerface{}`

[code]

This is a major bug guys...

[2019-02-06 11:49] mraerino opened #41 "Update client to support Netbox > 2.5"
@davcamer @mdlayher Are you still maintaining this module?

There are several month-old pull requests for this repo that would improve its usefulness a lot. Is there a chance somebody can step up as a maintainer?

[2019-02-06 16:12] mdlayher commented on #41
I no longer work at DigitalOcean and have no plans to maintain this project myself.

[2019-02-06 16:21] jeremystretch commented on #41
If someone wants to volunteer to take over maintainership, I'm happy to move this repo over to https://github.com/netbox-community.

[2019-02-06 17:15] davcamer commented on #41
I thought I had shared this in another issue, but it was in response to an email, so that doesn't produce any discussion. Here's what a said to a similar query over email, on November 30th:

I am uncertain how to maintain go-netbox. The code that is there now was nearly all generated from OpenAPI definitions, as explained in the last part of the README: https://github.com/digitalocean/go-netbox#re

[2019-02-06 17:37] jeremystretch commented on #41
On the NetBox side, we're working on replacing Swagger with something better suited to introspection of the API scheme we employ (see #2665). I'm going to _try_ to get this done for v2.6 but we're still in the exploratory phase at this point.

[2019-02-06 17:39] davcamer commented on #41
If there were an updated, upstream OpenAPI definition I'd be happy to regenerate this code, and look at setting up an automated, or at least low friction, way of regenerating it again in the future.

[2019-02-10 16:05] mraerino commented on #41
I see. Thanks for all the info!

I can imagine several steps that can be taken independently of where the Netbox docs generation is heading:
- Include a patched `swagger.json` in this repository which is the only thing to be updated on new Netbox releases
- Build a test suite for this lib which can be run against a live Netbox instance running in Docker

Sadly I don't really have any clients right

[2019-02-13 15:04] awlx commented on #41
I am trying to generate a patched swagger.json but it's utterly broken atm :/.

It seems the only way to get a compatible client is to reverse engineer the API by hand since the Swagger output differs much from the reality.

[2019-02-14 11:04] mraerino commented on #41
@jeremystretch will you accept PRs in Netbox for improving the current swagger implementation? Or would you rather focus on the new approach you mentioned?

Right know I'm thinking it might be more productive to help Netbox output the correct `swagger.json`

[2019-02-14 14:26] mraerino commented on #41
Something I just yet realized: The change proposed in https://github.com/digitalocean/netbox/issues/2665 will remove all response schemas from the swagger docs.

This means that there will be no way to generate a Go API client out of the new docs since the structs for response bodies will not be present. Basically the whole point of an API client is to not write that typing yourself.

@awlx Are yo

[2019-02-14 14:33] awlx commented on #41
Yep, I am in. Let's find a way to do this and keep it maintainable.

[2019-02-26 19:35] jeremystretch commented on #41
Right now I think we're still trying to figure out the best way forward. It might just take some concerted effort to get our implementation of drf-yasg to the right place.

I still want to keep the generated OpenAPI doc. DRF can generate this natively, but its capabilities are still pretty limited compared to drf-yasg.

[2019-04-18 05:20] kobayashi commented on #41
Hi @jeremystretch
I hope to keep maintaining this by community include me. Is it possible to move this repo to [netbox-community](https://github.com/netbox-community).

[2019-04-24 03:30] valentin2105 commented on #41
Looking forward an updated version of this library. It would be great.

Thanks !

[2019-04-30 18:18] mraerino commented on #41
Important related change in netbox 2.6: https://github.com/digitalocean/netbox/issues/2968
We need to consider if this makes it easier to generate a Go client.

There is also the pattern of provising so-called "plumbing" (generated) and "porcelain" (hand-written) api clients to improve on generated openapi clients. Netlify is doing this: https://github.com/netlify/open-api#go-client

[2019-05-09 09:36] kedare opened #43 "Context Deadline"
Hello,

I've been trying to use the Go client for Netbox without any success, I cannot get anything else than `context deadline exceeded` (instantly) when trying to query the Netbox host

A very simple code

[code]
Would returns

[code]

But the URL is perfectly reachable and working fine

[code]

Am I missing something ? Also when the Go code runs, the query doesn't run at all (Not visible in HTT

[2019-06-20 21:50] bvandewalle commented on #43
If you give params as an option, you also need to give a context:

[code]

The SDK should clearly check if context has been set by the user though

[2019-06-24 16:26] kedare commented on #43
Oh, ok.

I don't have access to the system anymore so I can't test the solution, but if it's just that, the issue can be closed :)

Indeed it would be useful to check that a context has been injected.

Thank you.

[2019-11-05 13:07] smutel commented on #41
Hello,

What is the last update on this topic ?

I would like to implement a terraform provider for Netbox and a netbox lib in go will be appeciate.
We use currently Netbox 2.5 ...

Thanks.

[2019-11-05 13:15] mraerino commented on #41
we could start another attempt. but I guess we'd really want to have this repository in netbox-community together with a maintainer...

[2019-11-05 13:30] smutel commented on #41
Agree

[2019-11-07 08:36] smutel commented on #41
Waiting this, anyone can help me on this topic https://www.digitalocean.com/community/questions/example-to-create-a-tenant-with-https-github-com-digitalocean-go-netbox ?

Thanks.

[2019-11-07 11:16] awlx commented on #41
Actually I asked some months ago on how to get this merged:
https://github.com/awlx/go-netbox/tree/netbox_v2.6

And if go-netbox will be moved to netbox-community. No clear answer yet :/.

[2019-11-07 12:08] mraerino commented on #41
@jeremystretch can you move this to netbox community?
I think @awlx and I could share maintainership.

[2019-11-19 14:04] jeremystretch commented on #41
I no longer work at DigitalOcean and have no authority/ability to relocate a repository owned by their GitHub organization. We're happy to have this over at [netbox-community](https://github.com/netbox-community), but someone within DigitalOcean needs to initiate the migration.

[2019-11-20 15:29] davcamer commented on #41
I can move it over, I just need permissions to create repositories in the https://github.com/netbox-community org. Not sure who the best person to grant that is? I only need the permissions temporarily.

[2019-11-20 15:52] jeremystretch commented on #41
@davcamer I'm trying to remember what we did when we moved the `netbox` repo over (which went very smoothly). Let me take a look.

[2019-11-20 15:57] jeremystretch commented on #41
Looks like it needs to be initiated from the current repo under Settings > Transfer Ownership:

![github_transfer_repo](https://user-images.githubusercontent.com/13487278/69254440-4afe7480-0b84-11ea-9587-6f21f5afa781.png)

Once that's done, John or I can accept the transfer request on the community side. GitHub will automatically redirect traffic from the old location to the new one.

[2019-11-20 16:01] davcamer commented on #41
@jeremystretch Yes, that's how I initiated it, but I get this error:

![Screen Shot 2019-11-20 at 11 00 08 AM](https://user-images.githubusercontent.com/115564/69254956-00c9c300-0b85-11ea-8bd0-e25c4057b0bf.png)

This is also documented here: https://help.github.com/en/github/administering-a-repository/transferring-a-repository#about-repository-transfers

I wasn't sure if it would apply in an Org t

[2019-11-20 16:36] jeremystretch commented on #41
@davcamer I've invited you as a member. I may still need to grant you permission once you accept the invitation.

[2019-11-20 16:41] davcamer commented on #41
Invite accepted. Please grant me the permission.

[2019-11-20 16:48] jeremystretch commented on #41
@davcamer try now please

[2019-11-20 17:23] mdlayher commented on #41
Thanks for making this happen all!

[2019-11-20 18:03] davcamer commented on #41
Here we are in `netbox-community` 😄

[2019-11-20 18:48] awlx commented on #41
Awesome!

[2019-12-10 17:05] kobayashi commented on #41
Hi folks,
I am joining this repository as a collaborator. I work with netbox as a mainteiner also.
As my first task, I have created slack channel #go-netbox on [NetworkToCode](https://slack.networktocode.com/)

@davcamer, @chrigl,
Do you have any restriction to keep up-to-date this repo?

@mraerino, @awlx,
I know you guys have lots of works. If you are still interested in, I will discuss maintaine

[2019-12-16 16:48] awlx commented on #41
With https://github.com/netbox-community/go-netbox/pull/47 being merged now we can move on to cleanup stuff a bit :).

[2019-12-16 20:48] #43 closed

[2019-12-16 20:48] awlx commented on #40
Fixed via #47

[2019-12-16 20:48] #40 closed

[2019-12-16 20:49] #7 closed

[2019-12-16 20:49] #15 closed

[2019-12-16 20:49] #21 closed

[2019-12-16 20:49] #24 closed

[2019-12-16 20:49] #25 closed

[2019-12-16 20:49] #30 closed

[2019-12-16 20:49] #33 closed

[2019-12-16 20:49] #35 closed

[2019-12-16 20:49] #38 closed

[2019-12-16 20:54] awlx opened #48 "Fix Travis"
Travis seems not to work anymore we should fix that.

[2019-12-17 08:21] smutel commented on #41
I seems that slack.networktocode.com is down this morning :weary:
I have just a question about errors ...

Currently I use the error returned by go-netbox in terraform and it looks like
```unknown error (status 400): {resp:0xc000122480}```
Any way to have an explanation of the message instead ?

[2019-12-17 08:51] awlx commented on #41
Slack seems up to me.

The error 400 means bad request you should look into the netbox webserver to see what happened.

[2019-12-17 19:28] smutel commented on #41
I don't speak about slack but slack.networktocode.com, the page is unreachable so I am not able to register.

Yeah ... but I would like to be able to display human message on the client side without going to the netbox server.
I hope there is more than only the http code in the answer, no ?

[2019-12-23 06:42] kobayashi commented on #41
Hello @smutel
Can you try https://networktocode.herokuapp.com/ to join slack?
I will close this issue later because no more reason to keep as open.

[2019-12-23 22:26] kobayashi opened #50 "set meaning descriptions in swagger.json"
godoc shows meaningless descriptions for some client’s methods
For example, ExtrasConfigContextsList is described as `Call to super to allow for caching`
https://godoc.org/github.com/netbox-community/go-netbox/netbox/client/extras

swagger.json is generated automatically from netbox itself though, for the current version netbox v2.6 at least, it does not provide meaning descriptions.

[2019-12-24 13:07] awlx commented on #50
Is it worth the effort? Or should it be fixed in the generated swagger.json?

[2020-01-15 16:27] clienthax opened #54 "WritableDeviceInterface Enabled is not added to query"
[code]

Setting Enabled to false will result in it not being added to the query, however setting it to true will add it when using the update/create interface functions.

[2020-01-17 12:18] clienthax commented on #54
Looking into this further this seems to be an issue with how omitempty functions
[code]

if the value is false it is treated as 0, and doesn't get marshaled https://www.sohamkamani.com/blog/golang/2018-07-19-golang-omitempty/

[2020-01-17 12:19] clienthax commented on #54
https://github.com/golang/go/issues/13284

[2020-02-03 00:20] kobayashi commented on #41
I would like to close this issue. We are working this repo to support newer version of netbox.

[2020-02-03 00:20] #41 closed

[2020-02-03 01:04] kobayashi commented on #50
Ah yeah, swagger.json shows me over 100 lines. Is it better to delete the comment or leave as it is?

[code]

[2020-02-03 01:54] kobayashi commented on #54
@clienthax, Thaks to open this issue. I am looking for a solution for this though, is there any way to generate `bool` to `*bool` with go-swagger? Or better solution?

[2020-02-05 15:55] miticotoby opened #55 "API scheme change by netbox 2.7.x"
netbox community decided (https://github.com/netbox-community/netbox/issues/3569) to change the scheme of various API routes slightly. this now causes type errors.

json: cannot unmarshal string into Go struct field SiteStatus.results.status.value of type int64

[code]

example route: /api/dcim/sites/ | jq '.results[] | .id, .name, .status'

"AWS"
{
  "value": "active",
  "label": "Active",
  "id"

[2020-02-06 17:40] kobayashi commented on #55
@miticotoby Thank you for opening this issue. The current client version does not support v2.7 yet. I will do that soon.

[2020-02-09 19:45] smutel opened #57 "Create a new tag"
Hello,

Could you please create a new tag for this library ?
I am using `Gopkg.toml` and `dep` command and it seems that I can only lock version with tags, not master.

Thanks.

[2020-02-09 19:55] smutel commented on #48
What do you think about using GitHub Actions ?

[2020-02-10 10:21] clienthax commented on #54
I am fairly new to Go and this is actually being used in one of my first projects, So I don't have any good solutions here :D

[2020-02-11 11:25] #48 closed

[2020-02-24 13:49] kobayashi commented on #57
What kind of tags you need?

[2020-02-24 20:09] smutel commented on #57
I need a git tag on this repository ...

In my `Gopkg.toml`, I have this:
[code]

But the netbox_v2.4 tag is not good for me. I need a more recent tag to use in my code.

[2020-02-25 02:41] kobayashi commented on #57
I just have set tag [netbox_v2.6](https://github.com/netbox-community/go-netbox/tree/netbox_v2.6) from the current master.

[2020-02-26 17:11] kobayashi commented on #50
Close this issue because this may not worth.

[2020-02-26 17:11] #50 closed

[2020-02-27 21:49] galen0624 opened #60 "latest release missing the netbox.go and test files"
It appears that the latest release is missing the github.com/netbox-community/go-netbox/netbox/netbox.go  and test files.    The file contains the `NewNetboxAt` and  `NewNetboxWithAPIKey` functions documented in the README

[2020-02-29 14:37] smutel commented on #57
Hello,

Thank you for the tag.
Previously I used this piece of code but it seems that the function NewNetboxWithAPIKey does not exist anymore:

[code]

Could you please help me to convert this code with the netbox_2.6 tag ?

[2020-03-11 05:42] kobayashi commented on #55
Finally the latest `master`  branch can handle this. Please check it. Thank you for being so patient.

[2020-03-11 05:42] #55 closed

[2020-03-13 14:39] #60 closed

[2020-03-13 14:44] kobayashi commented on #57
Added new tag netbox_2.7 which include netbox package. Plz check it. Thanks!

[2020-03-13 14:44] #57 closed

[2020-03-13 15:30] smutel commented on #57
Is this tag compatible with Netbox 2.6 ?

[2020-03-14 16:43] smutel opened #62 "Error creating ipam prefix"
When I create a new ipam prefix with this library, I received an error message as below:
[code]
The json received by Netbox is like the following:
[code]

[2020-03-14 17:08] smutel opened #64 "Question about errors"
Hello,

I am using this library to create a terraform provider.
The error of this library is sent to the terraform provider.
The only error message displayed by my terraform provider is like:
[code]
However when I am doing a tcpdump I see that we can have more human readable message like:
[code]
Do we have this kind of message in the `error` object returned by this library ?

Thanks.

[2020-03-20 04:47] #62 closed

[2020-03-20 13:31] kobayashi commented on #64
Could you show me your code to reproduce?

[2020-03-21 09:19] smutel commented on #64
Here you can find that I return the error object to terraform and terraform will be in charge of displaying the message. I don't know what function on the error object will be used by terraform.

https://github.com/smutel/terraform-provider-netbox/blob/init-the-project/netbox/resource_netbox_tenancy_tenant.go#L205

[2020-03-21 13:54] mraerino opened #68 "Versioning proposal"
Currently we are not tagging this library in a way that is compatible with what go mod suggests.
It would be good to use semver.

If we want to include the netbox version in the release tag, we could use the condensed form, like `27` for `2.7`, because api breakage happens on minor, not patch versions

### Proposal 1: break in 0.x

- always stay on `0.x`
- upgrade minor with netbox (non-patch) ver

[2020-03-21 20:30] pezhore opened #69 "Non trusted certificate failure"
On my MacBook Pro, when running the [example custom host go code](https://github.com/netbox-community/go-netbox/blob/master/examples/customhost/customhost.go), I get an error apparently due to certificate trust issues.

[code]

Is there a way to ignore ssl verification?

[2020-04-05 19:45] smutel commented on #68
We definitively need a real versioning on this project.
+1 for the proposal 2 but not with sub-folders but with branches and tags
For example: branch v27.x.x, v28.x.x and tags v27.1.0, v28.1.1, etc ...

[2020-04-08 18:33] davidroman0O opened #71 "Can't use with version v2.6.3"
Hi,

I'm just trying to try the package but I got an issue when trying to get the list of racks:

[code]

And I got :

[code]

The error is right, I tried to call the api with postman and I got :

[code]

But when looking at `https://github.com/netbox-community/go-netbox/blob/master/netbox/models/rack.go`, I see that RackStatus.value need a string.

I tried to use the `latest` and `netbox_v2.6` ve

[2020-04-09 12:46] kirill-korolev opened #72 "Cannot use with HTTPS host"
When I use client API over HTTP I got forbidden error. HTTPS works just fine using curl.

[2020-04-09 18:05] Gorjan87 opened #73 "Swagger model: Rack.Width.Value of wrong type"
### Environment

- Go 1.14.2

- NetBox version 2.7.11

### Steps to reproduce
curl -s -H "Authorization: Token ${NETBOX_TOKEN}" -H "Content-Type: application/json" "https://${NETBOX_HOST}/api/dcim/racks/1/"

### Expected behaviour
Received object should unmarshall into model of rack

### Observed behaviour
Object width received looks like this:
{
  "**value**": 19,
  "label": "19 inches"
},
where

[2020-04-10 10:47] #72 closed

[2020-04-22 07:39] miticotoby opened #74 "IpamPrefixesAvailableIpsRead fails"
Environment

    Go 1.14.2
    NetBox version 2.7.12

Steps to reproduce

    Get available IPs from existing prefix `IpamPrefixesAvailableIpsRead`
[code]

Expected behaviour

	Should unmarshal to []*model.NestedIPAddress

Observed behaviour

	incorrect type
	Fails to unmarshal into model.Prefix with error: json: cannot unmarshal array into Go value of type models.Prefix

[2020-04-29 14:02] kobayashi commented on #68
Thanks @mraerino, I agree option2!

[2020-04-30 22:05] cmgreivel opened #77 "IpamPrefixesList fails unmarshaling"
Environment

Go 1.13.7
NetBox version 2.8.1

Steps to reproduce

List all prefixes with `IpamPrefixesList`

[code]
Expected behavior

Should unmarshal successfully

Observed behavior
cannot unmarshal number into Go struct field PrefixFamily.results.family.value of type string

Proposed fix
Very similar to https://github.com/netbox-community/go-netbox/commit/ea0bfe499b3cc805aeb93674595fcb70f04b2376

[2020-05-06 13:58] stefanmcshane opened #79 "Swagger out of date with v2.8"
Swagger json is on 2.7, there are a lot of new changes in Netbox v2.8 with regards to the OAS spec.

Can we get a new build of the swagger.json added to this repo?

[2020-05-06 15:02] Gorjan87 opened #80 "NestedIPAddresses, attribute 'family' of wrong type"
"family": {
					"title": "Family",
					"type": "string",
					"readOnly": true
				}

Where type should be integer instead of string.

[2020-05-07 05:22] kobayashi commented on #79
Opened PR https://github.com/netbox-community/go-netbox/pull/81 for this.

[2020-05-17 12:58] TawR1024 commented on #71
Have same problem.
`json: cannot unmarshal number into Go struct field VLANStatus.results.status.value of type string<nil>`

netbox 2.6.6

[2020-05-18 10:49] #80 closed

[2020-05-21 13:33] MalteJ commented on #32
The snippet above does not work.
Here is a working solution:

[code]

[2020-06-16 20:32] fbreckle commented on #64
I have the same issue. Not having the actual error message is really annoying.

I dug around a bit. Here is my test code (with [netbox-docker](https://github.com/netbox-community/netbox-docker) running locally)

[code]

Output:
[code]

Fun fact: When setting DEBUG=1 via env, it works:

[code]

I think this issue is related: https://github.com/go-swagger/go-swagger/issues/1470

[2020-06-21 18:31] smutel opened #84 "Remove description from ip address"
Hello,

I created an IP address with go-netbox with the parameters below:
- address: 192.168.56.1/24
- description = "Address created by terraform"
- tenant_id: 5

When I want to update the description, it's working fine:
[code]

Here is what I see throw tcpdump:

[code]

But if I would like to remove the description from that IP address, it does not work.
I use the same code than above but I don'

[2020-06-21 19:39] smutel opened #85 "Add container as IP address status"
Hello,

Currently the status `Container` for IP address is not included into the go-netbox.

Regards.

[2020-06-22 14:44] fbreckle commented on #84
Hi,

not really affiliated with the devs of go-netbox, but here are my observations from writing my own netbox provider:

I found that for comments on virtual machines, updating with a single space string (" ") works to delete the string.

As to what is the difference between Partial und normal update: My assumption is that per https://netbox.readthedocs.io/en/stable/api/overview/#what-is-a-rest-a

[2020-06-22 15:54] smutel commented on #84
Oh. Thanks.
What is the link of your provider ?

[2020-06-22 17:38] fbreckle commented on #84
Its not public yet, since its heavy WIP. I invited you.

[2020-06-22 18:09] smutel commented on #84
Here is mine if you want to look at it: https://github.com/smutel/terraform-provider-netbox

[2020-06-22 18:58] smutel commented on #84
Perhaps we can try to move all this work to netbox-community to share the effort ?

I tried you option with description and it is working as expected.
I did the same thing for DNS name and unfortunately it is not working :cry:

[2020-06-22 19:09] fbreckle commented on #84
The error is probably the same as https://github.com/netbox-community/go-netbox/issues/54

[2020-06-24 18:11] abhide opened #86 "Unable to set false for enforce_unique flag for VRF"
Seems like setting `enforce_unique=false` while creating VRF seems to have no effect.
`enforce_unique` is always set to true.

Repro Steps:
[code]

Check in the UI, `enforce_unique` will still be set to true.

[2020-06-24 19:12] dgjustice opened #87 "Device ConfigContext rendered as wrong type"
This is only a problem when a device has a "config context" attached to it.

[code]
[code]

I believe the problem is in the swagger spec here: https://github.com/netbox-community/go-netbox/blob/master/swagger.json#L32639

Resulting in an incorrect type here: https://github.com/netbox-community/go-netbox/blob/master/netbox/models/device_with_config_context.go#L52

I believe it should be (works loca

[2020-06-24 19:37] dgjustice commented on #87
When I run `make clean && make generate`, I get a ton of file changes and failing tests.  Is there a pinned version of the go-swagger container that is being used?  I assume this process should be idempotent.

[2020-06-24 20:25] abhide commented on #54
@kobayashi running into `omitempty` issue with https://github.com/netbox-community/go-netbox/issues/86 as well.

[2020-06-25 08:26] #84 closed

[2020-06-30 14:24] caboteria opened #90 "Go client stubs sending too many parameters"
Hi Folks,

I'd like to change just the status of a specific IP address but am having trouble with the golang client stubs sending too many address parameters.  My code looks like this:

    update := &models.WritableIPAddress{Status: "active"}
    fmt.Println(*update)
    p := ipam.NewIpamIPAddressesPartialUpdateParams()
    p.ID = first.ID
    p.Data = update

    _, err = c.Ipam.IpamIPAddressesP

[2020-07-09 06:30] vx3r commented on #69
I have the same issue and found a way to pass custom `http.client`:
[code]

[2020-08-12 18:41] joakimhellum commented on #64
Hi,

Currently we cannot obtain the underlying `http.Response` if the StatusCode is not defined in the swagger spec.
I guess it's possible to implement some workaround which allows `http.Response.Body` to be accessed anyway, but this feels very hacky.

For example:
[code]

References:
https://github.com/netbox-community/netbox/issues/4986

[2020-09-05 13:16] smutel commented on #79
The swagger is now up to date with v2.8 but out of date with v2.9.
When the update is planned ? Is-it possible to manage #68 before ?

[2020-09-16 06:52] Boulet- commented on #68
:+1: for @smutel proposal that I tried to reword as:

**Proposal 3: Use netbox version for major and minor**
- eg: tags `2.9.x`, `2.7.x` where x is just our releases ; one branch per version we want to maintain
- pro: respect go specs and go modules (no sub-folder)
- cons: maybe breaks semver (not really because we follow Netbox)
- cons: could be misleading to have a `Netbox 2.9.12` but only `go-n

[2020-09-16 10:38] hensoko opened #93 "Upstream patches of forked go-netbox client"
Hey there,

we're using netbox with go for quite some time now but started working on a fork of go-netbox as the swagger.json was often out of date. I'm currently preparing simple patches that can be applied hopefully against new versions of swagger.json to fix several (type of *_id fields / number fields) and wonder how I can help upstream.

You can find my changes in [feature/modernize](https://

[2020-09-16 11:15] #79 closed

[2020-09-16 11:15] awlx commented on #93
I just merged https://github.com/netbox-community/go-netbox/pull/92 so we have master working with netbox 2.9

[2020-09-16 12:27] hensoko commented on #93
As far as I can see there are still several fields that can not be defined right.

For example: /virtualization/cluster-types or /virtualization/clusters
The id field of the list operation is defined as string instead of integers. I have a lot of examples of this kind that I have fixed, eg for virtualization see [here](https://github.com/hosting-de-labs/go-netbox/commit/8a3ccb25f0a75466d5ea9114473

[2020-09-16 12:28] awlx commented on #93
Could you make a PR with the revlevant changes?

[2020-09-16 15:33] hensoko commented on #93
Sure, gonna prepare somthing.

[2020-09-23 14:40] erikkn opened #95 "IPAM: IP Address lookup with multiple configured tags"
Hi folks,

Pretty new to the scene, but I was wondering how one looks-up an IP address / IP address based on the configured tags.
When I use the following snippet, it is working fine:

`
     tags1 := "test"

     params := ipam.NewIpamIPAddressesListParams()
     params.SetTagn(&tags1)

     ipOk, err := c.IpamIPAddressesList(params, nil)
     if err != nil {
         log.Fatalf("[ERROR:] ", err)

[2020-09-23 18:26] kobayashi commented on #85
Thank you for opening this issue. `container` status is implemented in the latest branch. Please try it.

[2020-09-23 18:26] #85 closed

[2020-09-23 19:26] kobayashi opened #96 "Add go1.15.x in build matrix"
It has been 1 month after go1.15 released, we can set it in build job.

[2020-09-23 20:03] awlx commented on #96
Sounds fine for me. Merged :).

[2020-09-23 20:03] #96 closed

[2020-09-28 14:21] erikkn opened #99 "IPAM IP Addresses Error/bug: 400] map[tags:[All list items must be of string type.]])"
Hi folks,

Please consider the following snippet:

[code]

I am pretty new to the scene, so forgive the ugliness, but this results in the following error:

[code]

I believe this error is related to the 'type' change that got introduced in PR#92 (https://github.com/netbox-community/go-netbox/pull/92). This PR changes the type of the `Tags` field of the 'netbox/models/writable_ip_address.go' file f

[2020-09-28 14:36] erikkn commented on #99
cc @awlx (not sure if you receive a notification if I mention/tag you in the description box).

[2020-09-28 21:21] DSpeichert opened #100 "Dcim.DcimInterfacesList tries to unmarshall number into string"
When running:

[code]

We get:
[code]

I wasn't able to pinpoint what call exactly gets that (yet) because running the API call via e.g. curl does return a string value for that field (`"connected_endpoint_type": "dcim.interface",`).

However, the model does expect a string and does not get one somehow.

[2020-10-01 12:49] awlx commented on #99
Oh, seems really like the issue. But I think we use it as []NestedTag in our code. But let me check. Happy to take a PR @erikkn

[2020-10-01 12:53] awlx commented on #99
So according to the netbox API this is a []NestedTag for Netbox 2.9

![Screenshot 2020-10-01 at 14 52 10](https://user-images.githubusercontent.com/6527744/94811534-c6ac8d00-03f5-11eb-90e9-93b1003441d3.png)
![Screenshot 2020-10-01 at 14 52 05](https://user-images.githubusercontent.com/6527744/94811538-c7ddba00-03f5-11eb-88a6-64419dc0da7e.png)

[2020-10-02 08:48] awlx commented on #100
This could you be related to #94 can you give that PR a try @DSpeichert

[2020-10-02 08:50] #54 closed

[2020-10-02 08:50] #64 closed

[2020-10-02 08:50] #71 closed

[2020-10-02 08:50] #73 closed

[2020-10-02 08:50] #74 closed

[2020-10-02 08:50] #77 closed

[2020-10-02 08:50] #86 closed

[2020-10-02 08:50] #87 closed

[2020-10-02 08:53] #69 closed

[2020-10-02 17:54] DSpeichert commented on #100
@awlx I have tried that PR and it didn't quite help.

The problem is this part of swagger.json (it repeats multiple times):
[code]

which generates simply:
[code]

Here's an example of `connected_endpoint` as part of a response to `/api/dcim/interfaces` query:
[code]

It fails at `id`, which is clearly an integer. Likely the swagger spec has to have the whole structure defined.

[2020-10-05 07:50] erikkn commented on #99
Thanks for your reply! Will look into it later today, but I am pretty sure you are right

[2020-10-07 08:57] hensoko commented on #100
I agree with @DSpeichert, PR #98 won't fix his problem.

[2020-10-08 09:11] erikkn commented on #99
@awlx , you are absolutely right! Thanks for your help!

I really thought I was running Netbox >=2.9, turned out I was running version 2.8.4 :man_facepalming: .
For the sake of completion, this code works:

[code]

[2020-10-08 09:12] #99 closed

[2020-10-10 19:34] smutel opened #101 "Create tags with go-netbox and netbox 2.9"
Hello,

Is-it possible to create a tag using go-netbox in netbox 2.9 ?
Since netbox 2.9, tags are implemented differently in go-netbox (NestedTags).
I didn't found any writable_tag.go ...

Thanks.

[2020-10-12 16:45] erikkn commented on #101
Hey Smutel! Checkout this issue right here: https://github.com/netbox-community/go-netbox/issues/99

[2020-10-13 11:57] smutel commented on #101
Hello Erik,

In this example, it's explained how to associate an existing tag to a resource.
What about creating the tag from scratch ?

Thanks.

[2020-10-13 18:05] erikkn commented on #101
What do you mean by creating a tag from scratch? When you say from scratch I start thinking about the `extras` package.

[2020-10-14 06:38] smutel commented on #101
I mean like in the web interface Organization => Tags.
Yes you are right it's the extras package then tags to manage tags through the API.
But in the go-netbox library do we have something to add/remove tags ?

[2020-10-15 07:50] erikkn commented on #101
Right, so when you say 'create tags from scratch' you mean how one would create tags through the  'Organization -> Tags' tab.

I do this by using the `extras` package, specifically, the `ExtrasTagsCreate` method -> https://godoc.org/github.com/netbox-community/go-netbox/netbox/client/extras#Client.ExtrasTagsCreate

[2020-10-16 15:55] smutel commented on #101
Thanks for this info.

[2020-10-16 15:55] #101 closed

[2020-10-19 03:57] bvandewalle opened #102 "Version this SDK based on Netbox releases"
TLDR: Add tags to this SDK that match previous releases of Netbox, so that we can import a version that works based on our version of Netbox.

**netbox and go-netbox versioning mismatch:**

The crux of the issue here is that Netbox does not seem to fully respect Semantic Versioning.
An example (among others) that bit me: Going from `2.6` --> `2.7` , the following API breaking change was introduced

[2020-10-24 19:50] smutel commented on #102
Related to #68

[2020-10-25 12:47] smutel opened #103 "Error to use virtualization interface model"
Hello,

Using this piece of code with netbox 2.9.7:
[code]
I received the error message below:
[code]
When I checked in the JSON api I got:
[code]
which is not compatible with the definition in the code:
[code]

Regards.

[2020-10-25 20:11] smutel opened #105 "Enabled (true / false) does not work with vm interface"
Hello,

When using this piece of code:
[code]
The JSON sent to Netbox is the following:
[code]
We can see that the parameter `enabled` is not sent to Netbox.

Regards.

[2020-10-25 20:19] smutel opened #106 "Unable to remove some parameters from vm interface"
Hello,

I would like to remove these parameters from an interface:
- MacAddress => the library does not accept empty string
- Mtu => 0 is not accepted to remove the MTU set for an interface
- Mode => empty string is not accepted to remove this parameter

Thanks.

[2020-10-26 18:49] fbreckle opened #107 "Setting optional attributes to their "empty" value"
Hi,

this is a generalization of tickets like #105 and #106 because it applies to way more attributes than mentioned in these issues.

**The problem**
Setting an optional attribute to its "empty" value (false, 0, a nil pointer, a nil interface value, and any empty array, slice, map, or string) will remove the attribute from the resulting JSON that is sent to netbox. This means that these values ca

[2020-11-05 14:08] gunnertwin opened #111 "Writable_prefix tenant and site as int64"
I am using this module to create prefixes using Terraform but I have to specify the site and tenant as the ID (int64)

It would be helpful to be able to either specify "site_id" or "site_name" which would be TypeString.

[2020-11-07 16:01] #100 closed

[2020-11-07 16:01] #103 closed

[2020-11-13 11:53] localleon opened #113 "GoDoc Link is pointing to old destination"
The GoDoc Badge is linking to the old Version of the GoDoc.

Google recommends to use the new pkg.go.dev.

See Netbox under:
https://pkg.go.dev/github.com/netbox-community/go-netbox@v0.0.0-20201107160141-927b38be4340/netbox/client/dcim

[2020-11-29 21:19] sc0ttes opened #114 "Netbox Secrets Session Key"
Does go-netbox support "X-Session-Key" for returning plaintext secrets [as so](https://netbox.readthedocs.io/en/stable/rest-api/working-with-secrets/)? From what I can gather it appears I would need to implement a custom client to make the initial POST with the user's private key, returning the session key and would then need to create another custom client that calls the Secrets endpoints with bo

[2020-12-21 19:36] smutel opened #115 "Unable to remove date added in aggregate object"
Hello,

I am not able to remove `date added` in aggregate object.
It seems that using the empty value for `date added` (https://stackoverflow.com/questions/23051973/what-is-the-zero-value-for-time-time-in-go) does not remove the date in the object.
`nil` value does not do the job also.

Any tips or workaround to achieve this ?

[2021-01-26 18:24] kplimack opened #116 "not working with netbox v2.6.2"
When I make any get/list request to the API (using the example code from github README), I get unmarshal errors

[code]

Looking at the JSON response from Netbox, it looks like its getting back an int that its not casting to a string for "value"
[code]

[2021-02-26 22:57] apeace commented on #116
I am seeing a similar problem, using Netbox v2.10.4:

[code]

Prints:

[code]

The cable gets successfully created in Netbox and via Wireshark I can see the expected response. It seems whatever data definition `go-netbox` is using is incorrect.

Let me know if this should be filed as a separate issue.

[2021-04-01 17:10] #116 closed

[2021-04-01 17:25] kplimack opened #117 "client for netbox 2.10"
When will a client for 2.10 be released ?

[2021-04-08 16:50] smutel commented on #117
First beta for netbox 2.11 https://github.com/netbox-community/netbox/releases/tag/v2.11-beta1 ...

This project was moved to netbox-community due to lack of reactivity from digitalocean.
But it seems to be the same here ... :cry:

[2021-04-08 16:54] awlx commented on #117
Problem is ... I think most of the maintainers don't use the project anymore themselves so we depend on PRs :(.

[2021-04-08 18:25] smutel commented on #117
I understand that maintainers cannot maintain alone this project, it's really time consuming, most of us have a job and maintaining github repo is not part of our job ...

Issues are coming when maintainers does not have time to review PRs and commit them.
And we can see a lot of projects in github in this situation.

[2021-04-08 18:36] awlx commented on #117
Wasn't meant as offence just a fact :). And yeah, it's a sad situation I would like to really help more. But as I am not using go-netbox anymore it's quite hard to keep it up to date.

[2021-05-20 14:33] pezhore commented on #117
Perhaps a stupid question, but are the maintainers open to adding more volunteers to the repo?

[2021-06-14 07:41] idefixcert commented on #100
I still get this error:
cannot unmarshal number into Go struct field Interface.results.connected_endpoint of type string

How to get rid of it?

[2021-06-14 07:43] idefixcert commented on #100
it looks like there is a fix out there:
replace github.com/netbox-community/go-netbox => github.com/stefanhipfel/go-netbox v0.0.0-20200928114340-fcd4119414a4

[2021-07-07 18:16] stefanhipfel opened #118 "Unable to write json string to device's local_context_data"
Hi,

I currently want to write some struct data to a device's local_context_data. However since this parameter needs to be a *string ([local_context_data](https://github.com/netbox-community/go-netbox/blob/master/netbox/models/writable_device_with_config_context.go#L88)), I need to json.Marshal my go struct to a string.
When using the go [openapi runtime](https://github.com/go-openapi/runtime/blob

[2021-07-30 08:43] smutel commented on #117
I created my own lib: https://github.com/smutel/go-netbox

[2021-09-06 18:34] tagur87 commented on #117
FYI, the client has been updated to support v2.11.11

[2021-09-25 21:46] ston1th opened #122 "IpamPrefixesAvailableIpsCreate fails with unmarshal error"
Hey guys,

I have found a little bug while implementing a netbox based IP allocator.

Example:

[code]

Output:
[code]

The API Response looks like this - here `family` is an `object` and not a `int64`:

[code]

The type to which the json is unmarshaled:
[code]

Is a fix just a matter of regenerating the code/models based on the swagger spec or does this need to be changed manually?
I think the un

[2021-09-25 21:56] ston1th commented on #122
I found another bug somewhat related to this.

When I changed the above example to this

[code]

I get a different unmarshal error:

[code]

The API Response is now a single `object` and no `array`:

[code]

So I think this case would also need to be handled.

[2021-10-04 11:29] chdxD1 commented on #122
Hey @ston1th, I was the last one to update the project to v3. The sad thing is that the swagger we get from the netbox side is wrong at multiple points and this is one of them. The swagger output of netbox is also very unsupported, just keep this in mind when using go-netbox.

So manually changing the swagger.json is needed and then regenerate it :/

[2021-10-10 10:32] ston1th commented on #122
Hi @chdxD1 thanks for your response.
After thinking a bit about it I don't feel like edditing a big json file.. I'll implement the calls I need myself which also reduces the overall code size.

Should we keep this issue open for whom who like to pick it up or just close it?

[2021-12-06 16:54] chernogorsky commented on #122
@chdxD1, sorry for writing in a wrong thread. I have some issue with vlangroup. (v3) do you want me open a separate issue with my workaround (at least how I understand the source of the issue) ? or the only way - try changing that issue in the main netbox-community ?

[2022-03-10 02:20] jeremyforan commented on #90
I am experiencing the same issue. It is unclear to me how to make a change to a single field of an existing Ip Address.

Can someone please provide some guidance?

Kind Regards,

[2022-03-10 03:15] jeremyforan commented on #90
Here is what I have so far, but let me warn you.... it's not pretty and I suspect there is a better way.
[code]

[2022-03-12 18:16] #113 closed

[2022-03-22 22:21] ram-memx opened #125 "GET site list details with custom field"
Hi All. I am pretty new to use golang client for netbox. I am trying to get the site list from Netbox and I would like to filter it using a custom field. Can you please let me know how to pass that custom field to "**dcim.NewDcimSitesListParams()**" function? Are custom fields supported using golang client? If not please let me know the best way to achieve this functionality. Thanks

[2022-03-23 12:34] awbait opened #126 "Request: Add tags for ClusterGroup"
I would like to add tags when creating for ClusterGroup. At the moment, there is no such possibility?

[2022-04-06 09:35] Comradin commented on #68
What is the stand here? We successfully shot ourself in the feet with the broken version.

[2022-04-08 16:28] nleiva opened #127 "Package incompatible with NetBox v3.2.0"
NetBox 3.2 introduced breaking changes that make this package incompatible: https://github.com/netbox-community/netbox/releases/tag/v3.2.0. This is because of a change in the created timestamp of the API.

_The created field of all change-logged models now conveys a full datetime object, rather than only a date. (Previous date-only values will receive a timestamp of 00:00.) While this change is la

[2022-04-22 10:08] wfyanmnm commented on #127
@nleiva I am not femilliar with go lang, is there a quick way to fix it on code level?

[2022-04-25 09:47] v0ctor commented on #127
This issue has been fixed in [the latest release](https://github.com/netbox-community/go-netbox/releases/tag/netbox_v3.2). It may be closed. 🎉

[2022-05-09 16:19] #127 closed

[2022-06-13 09:09] darkweaver87 opened #131 "Call to AvailablePrefixes crashes"
Hello,

When calling `IpamPrefixesAvailablePrefixesCreate` with a `/16` cidr block, this client library fails with the following error:
[code]

As the API behavior looks correct to your colleagues (cf. https://github.com/netbox-community/netbox/issues/9471), I'll let you discuss internally on how to handle it.

Thanks.

Rémi

[2022-06-13 09:14] darkweaver87 commented on #131
On my side I've done this ugly thing so far:
[code]

[2022-06-28 00:51] Hakura77 opened #133 "Call to Get Ip-addresses panics on unmarshal error"
The data structure for an Ip Address AssignedObject (currently map[string]*string) causes a panic on un-marshalling

Currently the return type from the API itself can be a mix of String, Int64 and in the case of the Device field another map

Looking at the swagger.json, this can be fixed by changing the definition there's additional properties to type "object" instead of type "string"

I've done s

[2022-07-02 20:58] joeyberkovitz opened #134 "Call to IpamVlanGroupsRead fails"
The Swagger definition for the Scope field in a VLAN group is listed as a string, although it can be an object as well. Example:
[code]

When this happens, the API call fails with an unmarshaling error.

[2022-10-14 08:43] christophbrejla opened #136 "Support vor netbox v3.3?"
Hello, we are using netbox version v3.3.4 at this point. I tried to use the netbox client with release "netbox_v3.2" and the prerelease "netbox_v3.4". I am facing several incompatibility issues.

`
 json: cannot unmarshal number 35.0 into Go struct field DeviceWithConfigContext.results.position of type int64
json: cannot unmarshal number into Go struct field IPAddress.results.assigned_object of ty

[2022-11-07 21:50] vwbusguy opened #138 "Docs reference deprecated `go get`; Cannot install with go 1.19"
In Go 1.19, `go get` has been deprecated for `go install` (Ref. https://go.dev/doc/go-get-install-deprecation), however this module doesn't seem to be compatible with the new go dependency fetcher method.

go doesn't fetch `github.com/netbox-community/go-netbox/netbox/client` from the `import (`  section given in examples with an error like:

[code]

And replacing the `go get` with `go install @la

[2022-11-07 22:51] vwbusguy commented on #136
I can replicate this with v3.3.6 on both the v3.2 and v3.4 versions.  For example, getting a device list returns:

[code]

[2022-11-07 23:29] vwbusguy commented on #136
I used `replace (` in the go.mod to use your fork instead and it's working for me so far!

[2022-11-07 23:32] vwbusguy commented on #136
I didn't see a PR for yours but it looks like someone else submitted a PR in the meantime: https://github.com/netbox-community/go-netbox/pull/137

[2022-11-14 22:32] tao-sj commented on #136
this issue can be closed - I've verified #137 fixed it.

[2022-11-16 09:51] christophbrejla commented on #136
Hello, i have tested the lastest version from "master" branch. i am still getting errors when calling "dcim.NewDcimConsolePortsListParams()", for example

`cannot unmarshal object into Go struct field ConsolePort.results.link_peers of type string`

in the current implementation this property is

`LinkPeers []*string `json:"link_peers"``

and earlier (when it worked) it was

`LinkPeer map[string]*s

[2022-11-16 23:38] dechristopher commented on #125
Also looking to do such things. If there's no info I might just open a PR soon implementing it.

[2022-11-16 23:42] dechristopher commented on #125
Looks like the NetBox REST API doesn't support providing custom field parameters. We're out of luck until that's added to the API. For now, we'll need to do client-side filtering to weed out devices that don't have the field values we're looking for.

[2022-11-17 01:35] dechristopher commented on #125
[code]